.text-preset-1 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: bold;
}

.text-preset-2-bold {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}

.text-preset-2-regular {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}

.black {
  color: var(--color-slate-900);
}
.white {
  color: var(--color-white);
}

@media (min-width: 756px) {
  .text-preset-1 {
    font-size: 56px;
  }
}