.button {
  width: 376px;
  height: 56px;
  border-radius: 8px;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.black {
    background-color: var(--color-blue-800);
  }

  &.red {
    background: var(--gradient);
  }
}