* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

:root {
  /* Font */
  --font-primary: 'Red Hat Display', sans-serif;

  /* Colors */
  --color-white: #FFFFFF;
  --color-grey: #949494;
  --color-slate-900: #133041;
  --color-blue-800: #242742;
  --color-blue-700: #36384D;
  --color-red: #FF6155;
  
  --gradient: linear-gradient(90deg,#FF6A3A 0%, #FF527B 100%);

  /* Spacing scale */
  --space-50: 4px;
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-800: 64px;
  --space-900: 72px;
  --space-1000: 80px;
  --space-1400: 112px;
}
